.keyboard {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // Doesn't work in Safari until 14.1
    // gap: 0.5rem;
    width: 100%;

    & > *:not(:last-child) {
      margin-right: 0.5rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__backspace {
    width: 17%;
    text-align: center;
    padding: 1.5rem;
    background-color: rgb(60, 60, 60);
    border-radius: 1rem;
    cursor: pointer;
  }

  &__backspace-icon {
    width: 3.5rem;
  }

  &__button {
    width: 100%;
    height: auto;
    padding: 1.5rem;
    background-color: rgb(60, 60, 60);
    color: white;
    font-size: 2.4rem;
    text-transform: uppercase;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: 800px) {
  .keyboard {
    &__backspace {
      padding: 0.5rem;
    }
  }
}
